* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.banner-container {
    width: 1600px;
    height: 809px;
    background-image: url(/images/banner/banner2.png);
    text-align: right;
    align-items: center;
}

.banner-details {
    padding: 260px 230px;
    width: 50%;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 30px;
}

.btn {
    background: #F15B22;
    border-radius: 5px;
    padding: 20px 25px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: none;
}